* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.texto-cadastro {
    color: #dfdfdf;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 50px;
    gap: 30px;
    max-width: 600px;
    margin: 0 auto;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-cadastro label {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.form-cadastro input {
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.cadastrar {
    padding: 14px;
    border-radius: 8px;
    background-color: hsl(46, 100%, 62%);
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    width: 100%;
}
.cadastrar:hover{
    background-color: #d39823;
}

@media (max-width: 768px) {

    .texto-cadastro {
        font-size: 15px;
    }
    .texto-cadastro h1{
        font-size: 18px;
    }
    .texto-cadastro p{
        font-size: 15px;
    }

    .form-cadastro {
        align-items: center;
    }
    .form-cadastro label {
        font-size: 14px;

    }
    .form-cadastro input {
        padding: 10px;

    }
    .cadastrar {
        padding: 10px;
        width: 150px;
    }
}