* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    padding: 10px;
}

.grid-produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0px;
    gap: 10px;
}

.card-produtos {
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 15px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-produtos img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.7s;
} 
.card-produtos img:hover {
    transform: scale(1.05);
   
} 

.principal .descricao {
    color: #dfdfdf;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 7px;
}
.principal .descricao h1{
   margin-bottom: 15px;
}
.principal .descricao p{
  font-size: 17px;
}

.card-produtos h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.card-produtos h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    margin-bottom: 5px;
}

.card-produtos p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #5d5d5d;
    font-size: 11px;
    margin-bottom: 10px;
}

.btn-comprar {
    padding: 15px;
    border-radius: 8px;
    background-color: hsl(46, 100%, 62%);
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

.btn-comprar:hover {
    background-color: #d39823;
}

@media (max-width: 768px) {
    .grid-produtos {
        grid-template-columns: 1fr;
    }

    .principal .descricao {
        text-align: center;
        font-size: 12px;
        margin-top: 15px;
    }
    .principal .descricao p {
        font-size: 13px;
    }
    .principal {
        padding: 30px;
    }
    .cabecalho .menu-lateral {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .btn-comprar {
        padding: 12px;
    }

    .grid-produtos img {
        width: 300px;
        height: 300px;
    }
}